* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  color: green;
  display: inline;
}

header {
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: center;
}

button {
  padding: 5px;
  background-color: transparent;
  outline: none;
  border: 1px solid green;
  border-radius: 4px;
  color: green;
  font-weight: bold;
  text-transform: capitalize;
  transition: all 0.3 ease-in-out;
}
button:hover {
  background-color: green;
  color: white;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 800px;
  height: 800px;
  margin: 0 auto;
}
.square {
  border: 1px solid #e6e6e6;
  margin: 1px;
}
